In [1]:
import pandas as pd

scoring_result_csv = pd.read_csv('採点結果.csv', header=None).values.tolist()
print('採点結果')
for data in scoring_result_csv:
    print(data)

採点結果
['学籍番号', '点数', 'ディレクトリ', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21']
['17AJ021', '86', 'F:\\20191118191020\\20191118191020-0002.jpg', '×', '○', '○', '○', '○', '○', '○', '×', '×', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○']
['17AJ030', '96', 'F:\\20191118191020\\20191118191020-0003.jpg', '×', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○']
['17AJ123', '82', 'F:\\20191118191020\\20191118191020-0004.jpg', '×', '○', '○', '○', '×', '○', '○', '×', '×', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○']
['17AJ601', '92', 'F:\\20191118191020\\20191118191020-0005.jpg', '×', '○', '○', '○', '×', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○']
['17AJ091', '100', 'F:\\20191118191020\\20191118191020-0006.jpg', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○']
['17AJ082', '75', 'F:\\20191118191020\\20191118191020-0007.jpg', '×', '×', '×', '×', '×', '○', '○', '○', '○', '○', '×', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○']
['17AJ092', '96', 'F:\\20191118191020\\20191118191020-0008.jpg', '○', '○', '○', '○', '×', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○']
['17AJ006', '45', 'F:\\20191118191020\\20191118191020-0009.jpg', '×', '×', '×', '×', '×', '×', '×', '×', '×', '×', '×', '○', '×', '○', '○', '○', '○', '○', '○', '○', '○']
['17AJ113', '77', 'F:\\20191118191020\\20191118191020-0010.jpg', '○', '○', '○', '×', '×', '×', '○', '×', '×', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○', '○']

In [2]:
# 点数リスト
points_List = []
for point in scoring_result_csv:
    points_List.append(point[1])
# 文字列削除
points_List.pop(0)
points_List
int_points_List = [int(i) for i in points_List]
print(int_points_List)

[86, 96, 82, 92, 100, 75, 96, 45, 77]

In [3]:
# 最高点、最低点, 平均点の表示
sum = 0
for point in int_points_List:
    sum+= point
    
print('最高点', max(int_points_List))
print('最低点', min(int_points_List))
print('平均点', int(sum/len(int_points_List)))

#GPAの表示
s_score = 0
a_score = 0
b_score = 0
c_score = 0
d_score = 0
for point in int_points_List:
    if point >= 90:
        s_score+=1
    elif point >= 80:
        a_score+=1
    elif point >=70:
        b_score+=1
    elif point >= 60:
        c_score+=1
    else:
        d_score+=1
print('S(90-100)', s_score)
print('A(80-89)', a_score)
print('B(70-79)', b_score)
print('C(60-69)', c_score)
print('D(0-59)', d_score)

# 総人数の表示
print('総人数', len(int_points_List))

最高点 100
最低点 45
平均点 83
S(90-100) 4
A(80-89) 2
B(70-79) 2
C(60-69) 0
D(0-59) 1
総人数 9

In [4]:
# 採点結果ファイル読み込み
scoring_result_csv = pd.read_csv('採点結果.csv', header=None)
# 最初の不要な行を削除
scoring_result_csv = scoring_result_csv.drop(0)
# ○×のみ
scoring_result_csv_Delete = scoring_result_csv.drop(0, axis=1)
scoring_result_csv_Delete = scoring_result_csv_Delete.drop(1, axis=1)
scoring_result_csv_Delete = scoring_result_csv_Delete.drop(2, axis=1).values.tolist()

In [11]:
# 正答率の表
problem_number_List = []
for i in range(len(scoring_result_csv_Delete[0])):
    problem_number = 'Q' + str(i + 1)
    problem_number_List.append(problem_number)

#正答率リスト
correct_answer_rate_List = []
# 問題数の数繰り返す(21問)
for i in range(len(scoring_result_csv_Delete[0])):
    sum = 0
    # 人数分繰り返す(9人)
    for j in range(len(scoring_result_csv)):
        if scoring_result_csv_Delete[j][i] == '○':
            sum+=1
    correct_answer_rate = int(sum * 100 /len(scoring_result_csv))
    correct_answer_rate_List.append(str(correct_answer_rate) + '%')

# 問題番号と正答率のリストを一つのリストに挿入する
correct_answer_rate_List_table = []
correct_answer_rate_List_table.append(problem_number_List)
correct_answer_rate_List_table.append(correct_answer_rate_List)

print('各問正答率')
pd.set_option('display.max_columns', 50)
df = pd.DataFrame(correct_answer_rate_List_table)
df

各問正答率

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21
1,33%,77%,77%,66%,33%,77%,88%,55%,55%,88%,77%,100%,88%,100%,100%,100%,100%,100%,100%,100%,100%

In [9]:
# 正答率の表
problem_number_List = []
for i in range(len(scoring_result_csv_Delete[0])):
    problem_number = 'Q' + str(i + 1)
    problem_number_List.append(problem_number)

#正答率リスト
correct_answer_rate_List = []
# 問題数の数繰り返す(21問)
for i in range(len(scoring_result_csv_Delete[0])):
    sum = 0
    # 人数分繰り返す(9人)
    for j in range(len(scoring_result_csv)):
        if scoring_result_csv_Delete[j][i] == '○':
            sum+=1
    correct_answer_rate = int(sum * 100 /len(scoring_result_csv))
    correct_answer_rate_List.append(str(correct_answer_rate) + '%')

# 問題番号と正答率のリストを一つのリストに挿入する
correct_answer_rate_List_table = []
correct_answer_rate_List_table.append(correct_answer_rate_List)

print('各問正答率')
pd.set_option('display.max_columns', 50)
df = pd.DataFrame(correct_answer_rate_List_table, columns=problem_number_List)
df

各問正答率

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21
0,33%,77%,77%,66%,33%,77%,88%,55%,55%,88%,77%,100%,88%,100%,100%,100%,100%,100%,100%,100%,100%